<a
	href='https://www.linkedin.com/in/lucas-fidel-ledesma/'
	{...Astro.props}
	class='rounded-full w-[300px] border border-white/10 flex justify-center items-center fap-x-2 py-2 px-4 bg-white/5'>
	<slot />
</a>
