<div
	class='absolute top-40 animate-blob right-[60%] size-72 mix-blend-screen opacity-30 bg-purple-300 rounded-full blur-3xl -z-10 animation-delay-2000'
></div>
<div
	class='absolute animation-delay-4000 top-40 animate-blob right-[20%] size-72 mix-blend-screen opacity-30 bg-yellow-300 rounded-full blur-3xl -z-10'
></div>
<div
	class='absolute top-56 animate-blob right-[30%] size-72 mix-blend-screen opacity-30 bg-pink-300 rounded-full blur-3xl -z-10'
></div>
