---
import LinkedInIcon from '../assets/icons/Linkedin.astro'
import GithubIcon from '../assets/icons/Github.astro'
import MailIcon from '../assets/icons/Email.astro'
---

<nav
	class='w-full h-16 flex items-center px-4 py-3 top-0 z-50 justify-between text-sm'>
	<ul class='flex gap-4'>
		<li>
			<a
				class='text-2xl'
				href='https://www.linkedin.com/in/lucas-fidel-ledesma/'
				><LinkedInIcon class='h-5 w-5' />
			</a>
		</li>
		<li>
			<a href='https://github.com/Lucas-Ledesma'
				><GithubIcon class='h-5 w-5' />
			</a>
		</li>
		<li>
			<a href='mailto:lucasfidel99@gmail.com'
				><MailIcon class='h-5 w-5' />
			</a>
		</li>
	</ul>

	<ul class='flex gap-4'>
		<li
			><a
				href='#top'
				class='hover:opacity-70 duration-100 ease-in'
				>Inicio</a
			></li
		>
		<li
			><a
				href='#experience'
				class='hover:opacity-70 duration-100 ease-in'
				>Experiencia</a
			></li
		>
		<li
			><a
				href='#projects'
				class='hover:opacity-70 duration-100 ease-in'
				>Proyectos</a
			></li
		>
	</ul>
</nav>
