---
interface Props {
	title: string
}

const { title } = Astro.props
import '../assets/style.css'
import '@fontsource-variable/onest'
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Portfolio Hecho por Lucas Ledesma'
		/>
		<meta name='viewport' content='width=device-width' />
		<link
			rel='icon'
			type='image/ico'
			href='/public/favicon.ico'
		/>
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<NavBar />
		<slot />
		<Footer />
	</body></html
>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #050505;
		justify-content: center;
		height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
